.card-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__container {
		max-width: 1140px;
		padding: 0 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
